<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre.name %>
</p>

<p>
  <strong>Available:</strong>
  <%= @book.available %>
</p>

<p>
  <strong>Cover:</strong>
    <%= image_tag @book.cover %>
</p>

<br><h2>What have other members thought ?</h2><br>
<%= form_for([@book, Comment.new]) do|f| %>

<br><h3><%= f.label :rating %>
<%  rating = [1,2,3,4,5] %>
<% rating.each do |star| %>
<%= f.radio_button :rating, rating%> <%= star %>
<% end %>
</h3>
<br><%= f.text_area :content, :rows => 4, :cols => 40 %>
<div class = "actions">
    <%= f.submit "Post a Comment" %>
</div>
<% end %>

<% if@book.comments.empty? %>
<br><h3>There are no rating for tis book. Be the first to review it ?</h3>
<% else %>
<br><h2>What others thought: </h2>
<% @book.comments.reverse.each do |comment| %>
<br><p><%= comment.content %>
    Posted <%= time_ago_in_words(comment.created_at)%> ago by
    <%= comment.member.name %>
</p>
<% end %>
<br><h3>Rating</h3>
<p>
    <%= number_with_precision(@book.average_rating, precision: 0)%>

</p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
