<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id = "header" class = "container">
        <div id = "logo">
            <h1><%= link_to "Library", root_path %></h1>
        </div>
            <div id = "menu">
    <ul>
        <li><%= link_to "View all Genres", genres_path %></li>
        <li><%= mail_to "laurengleesonrails@gmail.com", "Contact Us" %></li>
        <li><%= link_to "Rent a Book", shop_index_path %></li>
        <% if !signed_in? %>
			<li><%= link_to "Sign In", login_path%></li>
		<% else %>
        <li>Signed in as <%= @current_user.name %></li>
			<li><%= link_to "Sign Out", logout_path %></li>
        <% end %>
        <% if !managementsigned_in? %>
            <li><%= link_to "Admin?", managementlogin_path %></li>
        <% else %> 
            <li>Signed in as <%=@managementcurrent_user.username %></li>
            <li><%= link_to "Sign Out", managementlogout_path %></li>
		<%end%>
        
        <%= render '/books/search' %>

    </ul>
    </div>
    </div>
    <div id = "welcome" class= "wrapper-style1">
        <div class = "title">
            <h2>Hello and Welcome</h2>
            <span class = "byline">Online bookstore and blog</span>
        </div>
       
    </div>
    <div id = "page">
        <div id = "content"></div>
        <div id = "sidebar"></div>
    </div>
    <%= yield %>
    <div id = "footer" >
        <p><%= link_to "Access Admin Homepage", '/pages/adminhome' %></p>    
        
        <p>github account </p>
        <p>Lauren Gleeson</p>
          
        </div>
   
 

 
</body>
   
</html>
