<p id="notice"><%= notice %></p>

<p>
  <strong>Pick up date:</strong>
  <%= @reservation.pick_up_date %>
</p>

<p>
  <strong>Book:</strong>
  <%= @reservation.book.title %>
</p>



<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
