<p id="notice"><%= notice %></p>

<h2>Enjoy a Free Book</h2>
<br><h1>New titles addes each week!</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      
        <th>Download Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frees.each do |free| %>
      <tr>
        <td><%= free.title %></td>
        
          <td><%= link_to "Download free version", free.attachment_url %></td>
        <td><%= link_to 'Edit', edit_free_path(free) %></td>
          <td><%= link_to 'Remove', free, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>