<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @free.title %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @free.attachment %>
</p>

<%= link_to 'Edit', edit_free_path(@free) %> |
<%= link_to 'Back', frees_path %>
