<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Descritpion:</strong>
  <%= @review.descritpion %>
</p>

<p>
  <strong>Recommend:</strong>
  <%= @review.recommend %>
</p>

<p>
  <strong>Member:</strong>
  <%= @review.member.name %>
</p>

<p>
  <strong>Book:</strong>
  <%= @review.book.title %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
