<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>



<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

<h3>How far are you to us?</h3>
<%= @member.distance_to("DIT Aungier St Dublin") %>
<h3>We are located here!</h3>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{53.3382}%2C#{6.2591}" %>

